@import "../../main";
.nav-tabs{

    .active{
        a{
            border-color: #dee2e6 #dee2e6 #fff!important;
        }
    }
    .nav-item{
        a{
            text-transform: capitalize;
            font-weight: 500;
            color: $main-txt-color!important;
            border-color:#fff;
            border-bottom: 1px solid #dee2e6;
            h6{
                font-size:1.25em!important;
            }
        }
    }
}
.nav-tabs:hover{
    cursor:pointer;
}
#pannelsWrapper{
    min-height:75px;
    height:auto;
    padding-bottom:15px;
    .visible-pannel{
        display:block!important;
        visibility: visible!important;
    }
    .hidden-pannel{
        display:none!important;
        visibility: hidden!important;
    }
    .pannel-wrapper{
        article{
            margin-top:30px;
            p{
                strong{
                    text-transform: capitalize;
                    color: $main-txt-color!important;
                }
            }
        }
    }
}